*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: #222222;
    display: flex;
    color: #f3f3f3;
    justify-content: space-between;
    position: center;
    width: 100%;
    height: 100px;
    
}

.container-div1 {
    margin-left: 20px;
   
}

ul{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 276px;
    height: 19px;
    left: 720px;
    top: 40px;
    text-decoration: none;
            
}

.menu-pesquisa a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    border: #222222;
    height: 50px;
}